.account-sidebar,
.account-main-content {
    width: 100%;
}

.order-page-wrapper .content-wrapper {
    padding: 0;
    background-color: transparent
}

.account-wrapper .site-w {
    max-width: 1500px;
}

.account-header img {
    width: 48px;
    height: 48px;
}

.account-header .account-header-content {
    width: calc(100% - 48px);
    padding-left: 1rem;
    font-size: 15px;
}

.content-wrapper {
    background-color: var(--white);
    border: 4px;
    padding: 20px;
}

.box-user-info.active .select,
.box-user-info.active .form-control {
    pointer-events: none;
    user-select: none;
    co
}

.box-user-info.active .verify-code,
.box-user-info.active #js-update-profile,
.box-user-info.active #js-cacel-profile {
    display: none;
}

.grid-layout {
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.user-label-gr .flex-b {
    position: relative;
}

.account-list-action {
    margin-top: 20px;
}

.action-item {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0
}

.action-item svg {
    width: 24px;
    height: 24px;
}

.action-item span {
    width: calc(100% - 24px);
    padding-left: 1rem
}

.user-label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.verify-code-wrap .form-control {
    border-radius: 0 4px 4px 0;
}

.verify-code {
    white-space: nowrap;
    border-radius: 0 4px 4px 0;
}

.box-user-title {
    font-size: calc(18px + (21 - 18) * ((100vw - 300px) / (1920 - 300)));
    font-weight: bold;
    display: block;
    padding: 0 0 20px;
}

.user-footer {
    margin-top: 2rem;
}

#js-edit-profile {
    margin-right: 8px;
}

.verify-code-wrap .error-box {
    right: 175px;
}

.error-box {
    position: absolute;
    right: 10px;
    top: 14px;
    justify-content: flex-end;
    align-items: center;
    display: none;
    pointer-events: none;
    color: var(--error)
}

.error-box.show-error,
.error-box.show-success {
    display: flex;
}

.show-error .success-circle {
    display: none;
}
.show-success .error-mess,
.show-success .error-circle {
    display: none;
}

.success-circle {
    color: var(--primary)
}

.error-box svg {
    margin-left: 5px;
}

.user-list-tab {
    border-bottom: 1px solid var(--flash);
    margin-bottom: 20px;
}

.user-tab-item {
    padding: 6px 12px;
    position: relative;
    font-size: 16px;
}

.user-tab-item::after {
    content: "";
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
}


.user-tab-item.active {
    color: var(--secondary);
}

.user-tab-item.active::after {
    background-color: var(--secondary);
}


.order-product-images {
    width: 100px;
}

.order-product-info {
    width: calc(100% - 100px);
    padding-left: 1rem;
    cursor: default;
    user-select: none;
    color: var(--black);
}

.order-product-title {
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 10px;
}

.order-product-price .hight-price {
    margin-right: 4px;
    color: var(--dark);
}
.order-user-footer {
    border-top: 1px solid var(--flash);
    padding-top: 1rem;
    margin-top: 1rem
}

.order-user-footer > *:nth-child(n + 2) {
    margin-left: 8px;
}

.order-user-footer span {
    padding: 4px 6px;
    color: var(--dark)
}

.status-button {
    min-width: 150px;
    text-align: center;
}

#js-update-password,
#js-profile-password {
    margin-right: 10px;
}

.order-user-item {
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 15px;
    border-radius: 5px;
}

.order-user-item + .order-user-item {
    margin-top: 15px;
}

.order-user-item .button {
    text-align: center;
}

@media (max-width: 990px) {
    .account-area {
        flex-wrap: wrap;
    }

    .content-wrapper {
        padding: 10px;
    }

    .user-list-tab {
        background-color: #fff;
        white-space: nowrap;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 0;
    }

    .user-tab-item {
        padding: 10px 12px;
    }

    .order-product-info {
        flex-direction: column;
    }

    .order-product-price {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .order-user-footer {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .order-user-footer span {
        display: block;
        padding: 3px 0;
        text-align: center;
        width: 100%;
    }


    .order-user-footer .button {
        padding-left: 6px;
        padding-right: 8px;
        width: 46%;
        margin-top: 8px;
    }

    .account-sidebar {
        position: relative;
        margin-bottom: 25px;
    }

    .account-header strong {
        font-weight: 600;
        font-size: 16px;
    }

    .js-open-account {
        position: absolute;
        top: 0;
        right: 0px;
        padding: 4px 8px;
    }
    .js-open-account svg {
        width: 30px;
        height: 30px;
    }

    .account-list-action {
        background-color: #fff;
        padding: 10px 15px 90px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10000;
        width: 100%;
        box-shadow: 0 3px 4px -1px rgb(99 99 99 /20%), 0 5px 10px 0px rgb(99 99 99 /14%), 0 1px 12px 0px rgb(99 99 99 /10%);
        transition: var(--trans);
        transform: translateY(120%);
        pointer-events: none;
        transition: cubic-bezier(0, 1, 0.5, 1);
    }

    .account-list-action-bg {
        background-color: rgba(11 11 11 / 44%);
        position: fixed;
        display: block;
        bottom: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        transition: var(--trans);
    }

    .open-user {
        overflow: hidden;
    }

    .open-user .account-list-action {
        transform: translateY(0%);
        pointer-events: all;
    }
    .open-user .account-list-action-bg {
        opacity: 1;
        pointer-events: all;
    }

    .account-list-action-bg::before,
    .account-list-action-bg::after {
        content: "";
        width: 2px;
        height: 32px;
        background: #fff;
        display: block;
        position: absolute;
        top: 35px;
        right: 35px;
        transform: rotate(45deg);
    }
    .account-list-action-bg::after {
        transform: rotate(-45deg);
    }


}

@media (min-width: 760px) {

    .grid-layout {
        grid-template-columns: repeat(auto-fill, minmax(calc(260px + (380 - 260) * ((100vw - 760px) / (1920 - 760))),1fr));
    }

}
@media (min-width: 990px) {
    .account-sidebar {
        width: var(--nav-w);
    }

    .account-main-content {
        width: calc(100% - var(--nav-w));
    }

}


.site-main {
    background-color: #eff0f5;
    padding: calc(var(--size) * 2);
}

#footer {
    margin: 0;
}

.auth-area {
    background-color: #eff0f5;
    padding: 1rem 0
}

.auth-content {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 4px;
}

.login-title {
    margin-bottom: 1rem
}

.login-title a {
    color: var(--primary);
}

.auth-title {
    margin: 0;
}

.mod-login-col {
    width: 100%;
}

.mod-login-gr {
    margin-bottom: 1rem;
}

.login-btn {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

.mod-third-party-login-line {
    padding: 0.8rem 0
}

.mod-login-gr label {
    display: block;
    margin-bottom: 0.3rem;
}

.mod-third-party-login-btn {
    width: 48%;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.mod-third-login-fb {
    background-color: #3b5998;
}

.mod-third-login-gg {
    background-color: #DB4437;
}

.mod-third-login-fb:hover {
    background-color: #24417c
}

.mod-third-login-gg:hover {
    background-color: #ad2b20;
}

.mod-login-policy {
    font-size: 90%;
    padding: 5px 0;
    display: block;
}

.help-block {
    color: var(--error);
}

.mod-login-gr label.auth-enablenewsletter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.auth-enablenewsletter input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.auth-enablenewsletter small::after {
    content: "";
    transform: rotate(-45deg);
    border-radius: 2px;
    width: 14px;
    height: 7px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent #fff #fff;
    position: absolute;
    top: 4px;
    left: 3px;
}

.auth-enablenewsletter input:checked:disabled ~ small {
    opacity: 0.6;
    filter: grayscale(1);
}

.auth-enablenewsletter small {
    width: 20px;
    height: 20px;
    display: block;
    border: 1px solid var(--flash);
    border-radius: 3px;
    user-select: none;
    margin-top: 4px;
    position: relative;
}

.auth-enablenewsletter input:checked ~ small {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.auth-enablenewsletter small + span {
    width: calc(100% -  20px);
    padding-left: 0.5rem;
    text-align: left;
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
    margin-top: 3px;
}


@media (min-width: 760px) {
    .auth-area {
        padding: 1rem;
    }

    .login {
        width: 100%;
        margin: 0 auto;
    }

    .mod-login-col:first-child {
        width: 60%
    }

    .mod-login-col:last-child {
        width: 35%
    }

    .grid-auth {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px
    }
}

@media (min-width: 990px) {
    .auth-area {
        padding: 50px 30px;
    }

    .login {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 1100px) {
    .auth-area {
        padding: 60px;
    }

    .login {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 760px) {
    .login-title {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .login-title > * {
        width: 100%;
        text-align: left;
    }

    .grid-auth {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 0 10px;
    }
}
