/* header */
.site-header {
    position: relative;
    z-index: 5;
    background-color: var(--white);
}

.topnav {
    background-color: var(--light);
    padding: 4px;
    border-bottom: 1px solid var(--flash)
}

.topnav .topnav-link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.topnav-left .topnav-link {
    margin-right: 8px;
}
.topnav-right .topnav-link {
    margin-left: 8px;
}

.top-header {
    width: 100%;
    padding: 0;
}
.hot-category  {
    margin-left: auto
}

.header-tags {
    margin-left: 1rem;
}

.header-tags a,
.hot-category-item {
    background-color: var(--primary);
    color: var(--white);
    font-size: 0.7rem;
    padding: 0.2rem 0.6rem;
    margin-right: 0.3rem;
    border-radius: 3px;
}

.hot-category-item {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    margin: 0 0.4rem;
}

.hot-category-item:hover {
    color: var(--white);
    background-color: var(--primary-dk);
}


.header-support-icon {
    width: 52px;
    height: 52px;
    border-radius: 72px;
    background-color: var(--white);
    border: 1px solid #0194da;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    position: relative;
}

.count-item {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    pointer-events: none;
    background-color: var(--primary);
    color: var(--white);
    padding: 2px 5px;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 0 4px;
    user-select: none;
}

.header-news a {
    margin-left: 16px;
}

.header-news a {
    color: var(--white);
    white-space: nowrap;
    padding: 8px 16px;
    border-radius: 4px;
}

.header-news a:hover {
    background-color: rgba(11 11 11 / 30%);
}

.header-news a svg {
    margin-right: 8px;
}

#shortLink {
    width: var(--nav-w);
    padding: 10px 0 0;
}


/* header-search-wrapper */
.header-search-wrapper {
    background-color: var(--primary);
    color: var(--white);
    padding: 0;
}

.short-link-item {
    min-width: fit-content;
    min-width: -moz-fit-content;
    margin-right: 0.6rem;
    position: relative;
}

.category-main-text {
    padding: 10px 16px;
    background-color: #e67e00;
    color: var(--white);
    user-select: none;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-weight: 600
}

.category-main-text svg {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-right: 6px;
}

.category-wrapper {
    width: 100%;
}

.hnc-policy-link {
    display: block;
    padding: 4px 0
}

.brands-main-text {
    min-width: fit-content;
    min-width: -moz-fit-content;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    margin-right: 0.6rem;
    position: relative;
    user-select: none;
}

.brands-main-contain {
    display: block;
    position: absolute;
    top: 100%;
    padding: 10px;
    z-index: 12;
    opacity: 0;
    transform: translateY(20px);
    transition: var(--trans);
    pointer-events: none;
}

.policy-contain {
    display: block;
    position: absolute;
    top: 100%;
    padding: 10px;
    z-index: 12;
    opacity: 0;
    transform: translateY(20px);
    transition: var(--trans);
    pointer-events: none;

}

/* ======= */
.search-wrapper {
    width: 100%;
    position: relative;
    padding: 0 24px;
}

.search-form {
    border: 1px solid var(--flash);
    width: 100%;
    transition: var(--trans);
    border-radius: 4px;
    margin: 0;
}

.content {
    position: absolute;
    top: 52px;
    width: 100%;
    z-index: 777;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    box-shadow: 0 3px 4px -1px rgb(99 99 99 /20%), 0 5px 10px 0px rgb(99 99 99 /14%), 0 1px 12px 0px rgb(99 99 99 /10%);
}

.content.hidden {
    pointer-events: none;
}

.autocomplte-item {
    padding: 8px 0;
    cursor: pointer;
    user-select: none;
    display: block;
}

.autocomplte-item:hover {
    color: var(--primary);
}

.input-text {
    font-family: Arial;
    display: block;
    width: 100%;
    padding: 12px 10px;
    line-height: 1.42857143;
    background-color: var(--white);
    background-image: none;
    border: 1px solid var(--flash);
    border-right: none;
    font-size: 16px;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    background-clip: padding-box;
    transition: border .2s ease-in-out,background-color .2s ease-in-out;
    box-shadow: none;
}

.input-text:focus {
    outline: none;
    box-shadow: none;
}

.category-keyword  {
    width: 170px;
    padding: 12px 20px 12px 8px;
    border-radius: 4px 0 0 4px;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 13px) 50%, calc(100% - 8px) 50%, calc(100% - 16px);
    background-size: 5px 5px, 5px 5px, 1px calc(100% - 16px);
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    user-select: none;
}

.search-keyword {
    width: calc(100% - 170px);
    border-radius: 0 4px 4px 0;
    border: none;
    border-left: 1px solid var(--flash);
}


.search-form:focus,
.search-form.search-focus {
    box-shadow: 0 0 0 3px var(--primary-lt)
}


.search-button {
    background-color: transparent;
    color: var(--primary);
    border-radius: 0 4px 4px 0;
    min-height: 42px;
    min-width: 64px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-keyword:focus,
.search-button:focus {
    box-shadow: none;
}

.search-result-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    top: calc(100% + 2px);
    left: 0;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 3px 4px -1px rgb(99 99 99 /20%), 0 5px 10px 0px rgb(99 99 99 /14%), 0 1px 12px 0px rgb(99 99 99 /10%);
}

.search-result-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    color: var(--darkness);
}

.search-result-wrapper .viewed {
    font-weight: 600;
}

.search-result-wrapper li:nth-child(n + 2) {
    margin-top: 1rem;
}

.product-suggest-link,
.product-suggest-link:hover {
    color: var(--darkness);
    cursor: default;
}

.search-result-hottrends,
.search-result-products {
    width: 100%;
    padding: 0.8rem;
    list-style: none;
    margin: 0;
}

.product-suggest-image {
    width: 100px;
}

.product-suggest-image {
    width: 96px;
    max-height: 96px;
}

.support-item {
    border: 1px solid var(--flash);
    border-radius: 4px;
    white-space: nowrap;
    margin-left: 12px;
    user-select: none;
}

.support-item:first-child {
    margin-left: 0
}

.support-number {
    background-color: var(--light);
    color: var(--primary);
    padding: 6px 12px;
    position: relative;
    text-align: right;
    border-radius: 0 4px 4px 0;
}

.support-number::before {
    content: "";
    width: 10px;
    height: 100%;
    transform: skewX(-7deg);
    display: block;
    background-color: var(--white);
    position: absolute;
    top: 0;
    z-index: 1;
    left: -6px;
    box-sizing: border-box;
}

.hotline-wrapper .support-item {
    border-color: var(--flash)l
}

.hotline-wrapper .support-number {
    background-color: var(--primary);
    color: var(--white);
}
.hotline-wrapper .support-icon {
    color: var(--primary);
}

.support-item small {
    font-size: 11px;
}

.support-icon {
    background-color: var(--white);
    z-index: 2;
    padding: 8px 8px 8px 12px;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 4px 0 0 4px
}

del {
    font-size: 0.9rem;
    color: var(--darkness);
    margin-left: 4px;
}

.product-suggest-info {
    width: calc(100% - 100px);
    padding-left: 1rem
}

.product-suggest-title {
    margin: 0;
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.product-suggest-link:hover .product-suggest-title {
    color: var(--secondary-dk)
}

.price {
    color: var(--secondary);
    display: block;
}

.item-gift {
    font-size: 0.9rem;
}

/* menu */

.navigation-wrapper .main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu-item {
    display: block;
    color: var(--primary);
    position: static;
}

.menu-item-link,
.submenu-link {
    display: flex;
    justify-content: flex-start;
    padding: 12px 15px;
    align-items: center;
    position: relative;
    transition: none;
}

.submenu-title {
    font-weight: 600;
}

.main-menu-item:hover .menu-item-link {
    color: var(--primary)
}

.has-submenu .menu-item-link::after {
    content: "";
    display: block;
    margin: 0 0 0  auto;
    width: 8px;
    height: 8px;
    border-top: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    transform: rotate(135deg);
}

.menu-icon,
.search-icon {
    font-size: 20px;
    min-width: 20px;
}

.menu-text {
    width: calc(100% - 20px);
    padding-left: 6px;
}

.menu-text a {
    margin-right: 6px;
    transition: none;
}

.menu-text a:last-child {
    margin-right: 0;
}

.menuitem-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--flash);
    padding: 4px 15px;
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--secondary);
    user-select: none;
}

.viewall-category .menu-item-link {
    display: block;
}

.viewall-category .menuitem-title {
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: none;
}

.menuitem-title a {
    margin-left: 4px;
    font-size: 13px;
    font-weight: 600;
    margin-left: auto;
}

.submenu-item-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem
}

.submenu-item-box:last-child {
    margin-bottom: 0;
}

.bottom-banner-wrapper img {
    border-radius: 6px;
}

.hight-price del {
    color: var(--dark);
    white-space: nowrap;
}

.sale-price {
    color: #d50200;
    font-size: 1.4rem;
    font-weight: 500;
    white-space: nowrap;
}

.product-status {
    color: #2cc067;
    font-size: 13px;
}

.product-status.out-off-stock {
    color: #0074da;
}

.product-status svg {
    margin-right: 4px;
}

.addtocart-btn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 0 0 auto;
}

.addtocart-btn:hover {
    background-color: var(--light);
    color: #0074da
}

.home-show-image {
    position: relative;
}
.home-show-image a {
    height: calc(180px + (210 - 180) * ((100vw - 300px) / (1510 - 300)));
    margin-bottom: 16px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-content: center;
}

.rating-star-in-list {
    display: block;
    margin-right: 4px;
    height: 16px;
    width: 16px;
    min-width: 16px;
    background-color: rgb(214, 218, 223);
    -webkit-mask-image: url(../images/review-star.svg);
    mask-image: url(../images/review-star.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    transform: translateY(-2px);
}

.rating-star-in-list.star-on {
    background-color: rgb(255, 188, 89);
}
.rating-star-in-list.star-on.star-half {
    background: rgb(255,188,89);
    background: linear-gradient(90deg, rgba(255,188,89,1) 0%, rgba(255,188,89,1) 25%, rgba(255,188,89,1) 50%, rgba(214,218,223,1) 50%, rgba(214,218,223,1) 100%);
}

.home-slider-content-box {
    margin-bottom: 1rem;
}

.home-slider-content-box:last-child {
    margin-bottom: 0
}

.home-slider-init {
    position: relative;
    overflow: hidden;
}

.home-slider-init:not(.slick-slider) {
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
}

.home-slider-init:not(.slick-slider) .home-slider-item:nth-child(n + 7) {
    display: none;
}

.home-slider-item {
    padding: 12px;
    background-color: var(--white);
    box-shadow: -1px 0px 0px 0px var(--bg), 1px 0px 0px 0px var(--bg);
    counter-increment: listCounter;
    position: relative;
}


.home-slider-info {
    background-color: var(--white);
}

.rating-wrap {
    font-size: 13px;
}

.code-wrapper {
    font-size: 12px;
    font-weight: 400;
}
.code-wrapper span {
    background-color: var(--light);
    padding: 0.3rem 0.6rem 0.15rem;
    border-radius: 4px;
}

.home-slider-product-title-link {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: 600;
    color: var(--black);
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
}


.hover-title {
    background-color: #007aff;
    color: var(--white);
    display: block;
    padding: 8px;
    border-radius: 6px 6px 0 0;
}

.hover-content {
    padding: 8px;
}
.tooltip-title {
    background-color: #007aff;
    color: var(--white);
    display: inline-block;
    border-radius: 3px;
    padding: 3px 8px;
    margin-bottom: 0.4rem;
}

/* recommendation */
.recommendation-wrapper {
    margin-top: 2rem;
}

.recommendation-heading {
    font-size: 25px;
    margin: 0 0rem;;
    padding: 0.8rem 0;
    font-weight: 600;
    line-height: 1;
}

.recommendation-slider {
    position: relative;
    overflow: hidden;
}

/* footer */
.newsletter-wrapper {
    padding: 1.5rem 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.newsletter-form-wrap {
    max-width: 600px;
    margin: 0.5rem auto 0;
}

.newsletter-form-wrap .form-control {
    border-radius: 4px 0 0 4px;
    border: 1px solid #202c43;
}

.newsletter-form-wrap .button {
    border-radius: 0 4px 4px 0;
    color: #202c43;
    background-color: var(--white);
    border: 1px solid #202c43;
    border-left: none;
}

/* footer content */
.footer-wrapper {
    padding: 2rem 0;
    background-color: #202c43;
    color: rgba(255, 255, 255, 0.7);
}

.footer-title {
    font-size: calc(17px + (21 - 17) * ((100vw - 300px) / (1920 - 300)));
    color: var(--white);
    position: relative;
    margin: 0 0 calc(6px + (15 - 6) * ((100vw - 300px) / (1920 - 300))); 0
}

.footer-title::after {
    content: "";
    height: 1px;
    width: 120px;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0.4rem 0 1rem;
}

.footer-wrapper a {
    color: var(--white);
    padding: 4px 0;
    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1920 - 300)));
}

.footer-wrapper a:hover {
    color: yellow;
}

.footer-copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 2rem;
    margin-top: 2rem;
}

.footer-content .footer-block {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.payment-method-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.payment-method-wrapper img {
    margin: 0 8px 8px 0
}

.social-wrapper .icon {
    margin-right: 0.6rem;
    display: block;
}

.cart-box {
    position: relative;
}

.mini-cart-wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    z-index: 1;
    display: none;
}

.open-mini-cart .mini-cart-wrapper {
    display: block;
}

.mini-cart-box {
    width: 100%;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 3px 4px -1px rgb(0 0 0 / 10%), 0 5px 10px 0px rgb(0 0 0 / 6%), 0 1px 12px 0px rgb(0 0 0 / 6%);
    min-height: 100px;
    position: relative;
    margin-top: 10px;
    cursor: default;
}

.mini-cart-box:after {
	bottom: 100%;
	right: 110px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgb(0 0 0 / 10%);
	border-width: 8px;
	margin-left: -8px;
    z-index: -1;
}

.empty-cart {
    padding: 1rem;
    font-weight: 400;
    text-align: center;
}

.empty-cart span {
    padding: 0.5rem 0
}

.mini-cart-item {
    padding: 8px;
}

.mini-cart-item-image {
    width: 120px;
}

.mini-cart-content {
    width: calc(100% - 120px);
    padding-left: 1rem;
    padding-right: 1rem;
}

.new-price {
    color: var(--black);
    font-size: 1.2rem;
}

.quan-icon {
    margin-left: auto;
}

.mini-cart-head {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.mini-cart-footer {
    border-top: 1px solid var(--light);
    margin-top: 0.5rem;
    padding: 0.5rem 1rem 0.5rem;
}
.button-continue {
    border-radius: 2rem;
}

#content-box img {
    height: auto;
    max-width: 100%;
}

@media (max-width: 1024px) {
    /* .header-tags, */
    .hot-category {
        display: none;
    }

    .header-support-action {
        margin-left: auto;
    }
}

@media (max-width: 780px), (max-width: 990px) and (orientation:landscape) {
    .menu-icon {
        background: transparent;
        border: none;
        width: 36px;
        height: 36px;
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 0;
    }

    .menu-icon span {
        width: 24px;
        height: 2px;
        border-radius: 3px;
        margin: 3px 0;
        background-color: var(--dark);
    }

    .site-logo {
        width: 160px;
        min-width: 160px;
        margin-left: 10px;
    }

    .footer-content {
        flex-wrap: wrap;
    }
    .policy-wrapper,
    .find-brand-wrapper {
        display: none;
    }

    .top-header {
        flex-wrap: wrap;
    }

    .support-box,
    .auth-box,
    .cart-box .header-support-text {
        display: none;
    }

    .header-support-icon {
        width: 40px;
        height: 40px;
    }

    .header-support-icon svg {
        width: 20px;
        height: 20px;
    }

    .count-item {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
    }

    .header-search-wrapper .site-w {
        padding-left: var(--small-padding);
        padding-right: var(--small-padding);
    }

    .search-keyword {
        padding: 8px 10px;
    }

    /* Navigation */
    .navigation-wrapper {
        position: fixed;
        top: 0;
        left: -320px;
        z-index: 111;
        background-color: #fff;
        height: 100%;
        width: 300px;
        overflow-y: auto;
        padding-bottom: 80px;
        box-shadow: 0 3px 4px -1px rgb(99 99 99 /20%), 0 5px 10px 0px rgb(99 99 99 /14%), 0 1px 12px 0px rgb(99 99 99 /10%);
        transition: var(--trans);
    }

    .navigation-background {
        transition: var(--trans);
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: rgb(99 99 99 /60%);
        opacity: 0;
        pointer-events: none;
    }

    .open-menu,
    .open-filter,
    .open-specifications {
        overflow: hidden;
    }

    .open-search .navigation-background,
    .open-menu .navigation-background {
        opacity: 1;
        pointer-events: all;
    }

    .open-menu .navigation-wrapper {
        left: 0;
    }

    .open-menu .search-wrapper {
        opacity: 0.3;
        pointer-events: none;
    }

    .header-tags {
        display: none;
    }

    .gotohome-item {
        padding: 1rem;
        background-color: var(--light)
    }

    .gotohome-item img {
        width: 60%;
        margin: 0 auto;
    }

    .menu-item-link {
        position: relative;
    }

    .menu-item-link:hover,
    .menu-item-link:focus {
        color: var(--primary)
    }

    .menu-item-link.menu-active {
        color: var(--secondary);
    }



    .menu-item-link.menu-active::after {
        transform: rotate(-45deg);
    }

    .main-submenu-wrapper {
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        width: 300px;
        height: 100%;
        background-color: var(--white);
        transition: var(--trans)
    }

    .main-submenu-wrapper aside {
        padding: 1rem;
    }

    .goback-menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--light);
        padding: 1rem;
        min-height: 70px;
    }

    .goback-icon {
        width: 36px;
        height: 36px;
        border-radius: 36px;
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-menu {
        transition: var(--trans);
    }


    .open-lev2-menu {
        transform: translateX(-300px);
    }


    .main-submenu-wrapper aside,
    .main-submenu-wrapper .submenu-item-box {
        display: flex;
        flex-direction: column;
        color: var(--primary)
    }


    .main-menu-item:not(.open-lev2-menu-item) .main-submenu-wrapper {
        visibility: hidden;
        pointer-events: none;
    }

    .main-menu .submenu-item-box a {
        padding: 7px 0;
    }

    .menuitem-title a {
        margin-left: auto;
    }

    .submenu-item-box a {
        display: block;
        padding: 0.3rem 0;
    }


    /* End Navigation */

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
        opacity: 0;
        pointer-events: none;
    }

    .home-slider-tabs {
        border-bottom: 1px solid var(--bg)
    }

    .home-slider-init .home-slider-item {
        width: 175px;
        min-width: 175px;
    }

    .code-wrapper span {
        display: none;
    }

    .home-slider-price {
        display: flex;
        flex-direction: column-reverse;
        line-height: 1.2;
        min-height: 60px;
        justify-content: flex-end;
    }

    .hight-price small {
        display: block;
        padding-top: 4px;
    }

    .saleoff {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 4px;
        background-color: var(--error);
        color: var(--white);
        font-weight: 600;
        padding: 5px 10px;
        display: inline-block;
        font-size: 13px;
        letter-spacing: 1px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .header-search-wrapper {
        position: static;
        z-index: 100;
        min-height: 0px;
        padding: 0;
    }


    .search-wrapper.search-action {
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem;
        height: 100%;
        background-color: #fff;
    }

    .search-result-wrapper {
        top: 70px;
        box-shadow: none;
        background-color: transparent;
        overflow-y: auto;
        height: calc(100% - 70px);
        padding-bottom: 80px;
    }

    .search-wrapper.search-action .search-form {
        margin-right: 30px;
        width: calc(100% - 30px)
    }

    .search-form {
        transition: none;
        display: none
    }

    .search-wrapper.search-action .search-form {
        display: flex;
    }

    .open-search-icon {
        border: none;
    }

    .search-form:focus, .search-form.search-focus {
        box-shadow: none;
    }

    .search-wrapper.search-action .search-keyword {
        border: 1px solid var(--secondary);
        border-right: none;
        border-radius: 30px 0 0 30px;
    }
    .search-wrapper.search-action .search-button {
        border-radius: 0 30px 30px 0;
    }

    .search-icon {
        position: absolute;
        top: 1rem;
        right: 0;
        background-color: transparent;
        border: none;
        justify-content: center;
        align-items: center;
        height: 46px;
        width: 40px;
        font-size: 30px;
        font-weight: normal;
        color: var(--dark);
        opacity: 1;
        pointer-events: all;
    }

    .search-wrapper.search-action .search-icon  {
        display: flex;
    }

    .search-wrapper.search-action .search-result-wrapper {
        display: block !important;
    }

    .close-search-icon {
        opacity: 0;
        pointer-events: none;
    }

    .search-wrapper.search-action .close-search-icon {
        opacity: 1;
        pointer-events: all;
    }

    .header-news {
        display: none;
    }

    .short-link-item {
        padding: 0;
        margin: 0;
    }

    .short-link-item span {
        display: none;
    }

    .breadcrumb {
        margin: 0;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }


    .mini-cart-box:after {
    	right: 20px;
    }

    .footer-content {
        display: block;
        columns: 2 150px;
        column-gap: 1rem;
    }

    .footer-content .footer-block {
        width: 100%;
        max-width: 100%;
        break-inside: avoid;
        margin-bottom: calc(35px + (20 - 35) * ((100vw - 300px) / (1920 - 300)));
    }

    .payment-method-wrapper img {
        width: 50px;
        margin: 0 5px 5px 0
    }
}

@media (min-width: 780px) and (orientation:portrait), (min-width: 990px) {
    .top-header {
        padding: 10px 0
    }

    .search-result-hottrends {
        width: 30%;
    }

    .search-result-products {
        width: 70%;
    }

    .navigation-wrapper {
        position: absolute;
        top: 35px;
        left: 0;
        width: var(--nav-w);
        z-index: 11;
        border-radius: 4px;
        opacity: 0;
        pointer-events: none;
        padding: 0
    }

    .navigation-wrapper .main-menu {
        background-color: var(--white);
        box-shadow: 0 3px 4px -1px rgb(0 0 0 / 4%), 0 5px 10px 0px rgb(0 0 0 / 3%), 0 1px 12px 0px rgb(0 0 0 / 3%);
        min-height: 400px;
    }


    .header-support-item {
        background-color: var(--white);
        color: var(--primary);
        padding: 0.4rem 0.8rem;
        position: relative;
        padding-right: 0.8rem;
        cursor: pointer;
        user-select: none;
        font-weight: 600;
        border: 1px solid #0194da;
        border-radius: 0.5rem;
        padding-left: 30px;
        margin-left: 30px;
        margin-right: 10px;
        min-width: 120px;
        z-index: 10;
    }

    .header-support-item:first-child,
    .header-support-item:first-child .header-support-icon {
        border-color: #25985d;
    }
    .header-support-item:last-child {
        margin-right: 0;
    }
    .header-support-item:last-child,
    .header-support-item:last-child .header-support-icon {
        border-color: #f00;
    }

    .header-support-item:only-of-type(2),
    .header-support-item:only-of-type(2) .header-support-icon {
        border-color: #0194da;
    }

    .header-support-item .header-support-icon {
        position: absolute;
        top: calc(50% - 26px);
        left: -26px;
    }


    .category-wrapper:hover .navigation-wrapper {
        opacity: 1;
        pointer-events: all;
    }


    .has-submenu .menu-item-link.lev2-link::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 2px;
        border: 2px solid var(--dark);
        border-bottom-color: transparent;
        border-left-color: transparent;
        transform: rotate(135deg) translateY(10px);
        transition: var(--trans);
    }


    .main-menu-item:first-child {
        border-radius: 4px 0 0 0;
    }

    .main-menu-item:last-child {
        border-radius: 0 0 0 4px;
    }

    .main-submenu-wrapper {
        display: none;
        background-color: var(--white);
        position: absolute;
        top: 0;
        left: 100%;
        min-height: 400px;
        color: var(--primary);
        width: 280px;
        z-index: 1;
        padding: 0;
        border-left: 1px solid var(--flash);
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 2rem 3rem;
        box-shadow: 0 3px 4px -1px rgb(99 99 99 /10%), 0 5px 10px 0px rgb(99 99 99 /6%), 0 1px 12px 0px rgb(99 99 99 /4%);
        border-radius: 0 4px 4px 0;
    }

    .main-menu-item.focus-menu .main-submenu-wrapper,
    .main-menu-item:hover .main-submenu-wrapper {
        display: grid;
    }

    .main-submenu-wrapper > aside .menuitem + .menuitem {
        margin-top: 1rem
    }

    .main-submenu-wrapper > aside a {
        display: block;
        padding: 7px 15px;
    }

    .bottom-banner-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        grid-gap: 10px;
        padding: 10px 0;
    }

}

@media (min-width: 999px) {
    .footer-content .footer-block {
        max-width: 20%;
        width: fit-content;
        width: -moz-fit-content;
    }

    .header-search-wrapper.fix-menu {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 234;
    }

    .header-search-wrapper.fix-menu .navigation-wrapper {
        top: 42px;
        opacity: 0;
        pointer-events: none;
    }

    .header-search-wrapper.fix-menu  .category-wrapper:hover .navigation-wrapper {
        top: 46px;
        opacity: 1;
        pointer-events: all;
    }

    .header-search-wrapper.fix-menu .policy-wrapper,
    .header-search-wrapper.fix-menu .find-brand-wrapper {
        display: none
    }

    /* list brands */
    .brands-main-contain {
        width: 480px;
        left: calc(50% - 260px);
    }

    .policy-contain {
        width: 520px;
        left: -10px
    }

    .find-brand-wrapper:hover .brands-main-contain {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }

    .policy-wrapper:hover .policy-contain {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }

    .brands-main-content,
    .policy-main-content {
        background-color: var(--white);
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        box-shadow: 0 3px 4px -1px rgb(0 0 0 / 4%), 0 5px 10px 0px rgb(0 0 0 / 3%), 0 1px 12px 0px rgb(0 0 0 / 3%);
        padding: 10px;
        border-radius: 4px;
    }

    .policy-main-content:after,
    .brands-main-content:after {
        top: -6px;
        left: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 8px;
        margin-left: -8px;
    }

    .policy-main-content {
        column-width: 180px;
        grid-column-gap: 15px;
    }

    .policy-column {
        break-inside: avoid;
        margin-bottom: 15px;
    }

    .policy-main-content:after {
        left: 105px;
    }

    .hnc-policy-title,
    .brands-main-title {
        color: var(--primary);
        font-size: calc(17px + (20 - 17) * ((100vw - 300px) / (1920 - 300)));
        display: block;
        margin-bottom: 6px;
    }

    .list-brands {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        grid-gap: 10px;
    }

}

@media (min-width: 990px) and (max-width: 1100px) {
    .main-submenu-wrapper {
        width: 700px;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        padding-right: 1rem;
    }

    .home-slider-init .home-slider-item {
        width: calc(100% / 4);
    }
}

@media (max-width: 1200px)(min-width: 1300px) {
    .home-slider-init .home-slider-item {
        width: calc(100% / 5);
    }
}
@media (min-width: 1280px) {

    .mini-cart-wrapper {
        width: 460px;
    }
}

@media (min-width: 800px) and (max-width: 1100px) {
    .header-tags,
    .policy-wrapper {
        display: none;
    }

    .footer-content {
        display: block;
        columns: 4 200px;
        column-gap: 1rem;
    }

    .footer-content .footer-block {
        width: 100%;
        max-width: 100%;
        break-inside: avoid;
        margin-bottom: 1.5rem;
    }
}
