/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    min-height: 1px;
    cursor: pointer;
}

.slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: calc(50% - 20px);
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: 0 3px 4px -1px rgb(0 0 0 / 20%), 0 5px 10px 0px rgb(0 0 0 / 14%), 0 1px 12px 0px rgb(0 0 0 / 10%);
    width: 40px;
    height: 40px;
    border-radius: 48px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    z-index: 1;
}

.slick-next {
    right: 12px;
}

.slick-prev {
    left: 12px;
}

.slick-disabled {
    opacity: 0;
    cursor: not-allowed;
    display: none !important;
    pointer-events: none;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    cursor: pointer;
    position: relative;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 8px 16px;
}

.slick-dots li {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    border-radius: 16px;
    margin: 2px;
    padding: 0;
    cursor: pointer;
    background: #bbb;
    transition: all 300ms ease;
}

.slick-dots li.slick-active {
    width: 10px;
    height: 10px;
    background-color: #333;
}

.slick-dots li button {
    display: none;
}
